<div class="profile-container" [class.navigation-open]="isNavigationOpen">
  <div class="grid-item"></div>
  <div class="grid-item">
    <div class="row" *ngFor="let team of paginatedTeams">
      <app-team-button [team]="team"></app-team-button>
    </div>
  </div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item">
    <app-pagination [totalItems]="teams.length"
                    [pageSize]="pageSize"
                    [currentPage]="currentPage"
                    (pageChange)="onPageChange($event)">
    </app-pagination>
  </div>
  <div class="grid-item"></div>
</div>
