<div class="settings-container" [class.navigation-open]="isNavigationOpen">
  <div class="grid-item"></div>
  <div class="grid-item">
    <div class="main-text">Name: Kirga</div>
    <div class="main-text">Description: Best Company for not humans!!!</div>
    <button class="main-button">Change Company</button>
    <button class="main-button" (click)="getCompanyReport()">GetReport</button>
    <button class="main-button-red">Remove Company</button>
  </div>
  <div class="grid-item"></div>
</div>
