<div class="profile-container" [class.navigation-open]="isNavigationOpen">

  <div class="grid-item"></div>
  <div class="grid-item">
    <div class="filter-container">
      <input type="text" placeholder="Search by name" [(ngModel)]="filter.name" (input)="applyFilters()" />
      <input type="number" placeholder="Minimum budget" [(ngModel)]="filter.minBudget" (input)="applyFilters()" />
      <input type="number" placeholder="Maximum budget" [(ngModel)]="filter.maxBudget" (input)="applyFilters()" />
      <select [(ngModel)]="filter.status" (change)="applyFilters()">
        <option value="">All Statuses</option>
        <option [ngValue]="TaskStatus.todo">To Do</option>
        <option [ngValue]="TaskStatus.inprogress">In Progress</option>
        <option [ngValue]="TaskStatus.done">Done</option>
      </select>
    </div>
  </div>
  <div class="grid-item"></div>

  <div class="grid-item"></div>
  <div class="grid-item">
    <div class="tasks-grid">
      <div class="center-button">
        <div class="task-button add-task-button" (click)="openAddTaskModal('add-task-modal')">
          <div class="task-header">
            <span class="task-name">+</span>
          </div>
        </div>
      </div>


      <app-task-button *ngFor="let task of paginatedTasks" [task]="task"></app-task-button>
    </div>
    </div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item">
    <app-pagination [totalItems]="filteredTasks.length"
                    [pageSize]="pageSize"
                    [currentPage]="currentPage"
                    (pageChange)="onPageChange($event)">
    </app-pagination>
  </div>
  <div class="grid-item"></div>
</div>

<app-add-task-modal></app-add-task-modal>
