<div class="header"
     [class.navigation-open]="isNavigationOpen"
     [class.navigation-close]="!isNavigationOpen"
     [class.page-profile]="currentPage === 'profile'"
     [class.page-registration]="currentPage === 'registration'"
     [class.page-authorization]="currentPage === 'authorization'">
  <div class="navigation-buttons">
    <button *ngIf="isAuthorized" class="navigation-button" 
        [class.navigation-open]="isNavigationOpen"
        [class.navigation-close]="!isNavigationOpen"
        [class.page-registration]="currentPage === 'registration'"
        [class.page-authorization]="currentPage === 'authorization'"
        (click)="toggleNavigation()">☰</button>
<button *ngIf="!isAuthorized && currentPage === 'authorization' || !isAuthorized && currentPage === 'registration'"
        class="log-reg-button" (click)="navigateTo('home')">Home</button>

<button *ngIf="isAuthorized && currentPage === 'all-tasks' || isAuthorized && currentPage === 'company-settings'"
      class="log-reg-button" (click)="navigateTo('all-tasks')">Tasks</button>
<button *ngIf="isAuthorized && companyRole === 0 && currentPage === 'all-tasks' || isAuthorized && currentPage === 'company-settings'"
      class="log-reg-button" (click)="navigateTo('company-settings')">Settings</button>
<button *ngIf="isAuthorized && companyRole === 0  && currentPage === 'all-tasks' || isAuthorized && currentPage === 'company-settings'"
      class="log-reg-button" (click)="navigateTo('company-members')">Members</button>
  </div>

  <div class="log-reg-container">
    <button class="log-reg-button" (click)="toggleTheme()">
      <span *ngIf="currentTheme === 'dark'">🌜</span>
      <span *ngIf="currentTheme === 'light'">🌞</span>
    </button>


    <button *ngIf="!isAuthorized && currentPage !== 'registration'" class="log-reg-button" (click)="navigateTo('registration')">Reg In</button>
    <button *ngIf="!isAuthorized && currentPage !== 'authorization'" class="log-reg-button" (click)="navigateTo('authorization')">Log In</button>

    <button *ngIf="isAuthorized" class="log-reg-button" (click)="logout()">Log Out</button>
  </div>
</div>
