.grid-container {
  top: 140px;
  position: absolute;
  display: grid;
  right: 0;
  width: 100%;
  transition: width 0.3s ease, height 0.3s ease;
}

  .grid-container.navigation-open {
    width: calc(100% - var(--navigation-width));
  }

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr 3fr 1fr;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 2fr 1fr;
  }
}

@media (max-width: 767px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .grid-item.main {
    width: 100%;
  }
}
