<div class="task-info-container" [class.navigation-open]="isNavigationOpen">
  <div class="grid-item"></div>
  <div class="grid-item">
    <div *ngIf="task?.parentId !== null">
      <button class="red-button" (click)="goToParentTask()">Go to Parent Task</button>
    </div>
    <div *ngIf="task?.parentId === null">
      <button class="green-button" (click)="goToAllTasks()">Go to All Tasks</button>
    </div>
    <div class="info-block">
      <h2>{{ task?.name }}</h2>
    </div>
    <div class="info-block">
      <p>{{ task?.description }}</p>
    </div>

    <div class="task-info-action">
      <button class="log-reg-button" (click)="openUpdateTaskModal()">
        Update Task
      </button>

      <button class="log-reg-button" (click)="removeTask()">
        Remove Task
      </button>
    </div>

    <div class="task-buttons">
      <button (click)="showDetails()"
              [class.active]="isDetailsVisible">
        Details
      </button>
      <button (click)="showSubtasks()"
              [class.active]="isSubtasksVisible">
        Subtasks
      </button>
    </div>

  </div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item content-box" [class.details-active]="isDetailsVisible" [class.subtasks-active]="isSubtasksVisible">
    <div *ngIf="isDetailsVisible" class="resources">
      <div *ngFor="let resource of task?.resources; let first = first"
           [class.no-top-border]="first"
           class="resource-item">
        <div *ngIf="resource.type == 0">
          <p>{{ resource.data }}</p>
        </div>

        <div *ngIf="resource.type == 1">
          <img *ngIf="resource.imageFileUrl; else noImage" [src]="resource.imageFileUrl" alt="Resource Image" />
          <ng-template #noImage>
            <div class="empty-image">Нет изображения</div>
          </ng-template>
        </div>

        <button *ngIf="companyRole == 0 || companyRole == 1" class="remove-resource-button"
                (click)="removeResource(resource.id)">
          Удалить
        </button>
      </div>

      <button class="task-button add-resource-button" (click)="openAddResourceModal('add-resource-modal')">
        <div class="task-header">
          <span class="task-name">+</span>
        </div>
      </button>
    </div>

    <div *ngIf="isSubtasksVisible" class="tasks-grid">
      <div class="center-button">
        <div class="task-button add-task-button" (click)="openAddTaskModal()">
          <div class="task-header">
            <span class="task-name">+</span>
          </div>
        </div>
      </div>
      <app-task-button *ngFor="let subtask of task?.childTasks" [task]="subtask"></app-task-button>
    </div>

    <div class="grid-item"></div>
  </div>
</div>

<app-add-resource-modal></app-add-resource-modal>
<app-add-task-modal></app-add-task-modal>
<app-task-update-modal></app-task-update-modal>
