.profile-container {
  top: 100px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  right: 0;
  height: 100%;
  gap: 20px;
  color: var(--text-color);
  transition: width 0.3s ease, left 0.3s ease;
}

  .profile-container.navigation-close {
    width: 100%;
    left: 0;
  }

  .profile-container.navigation-open {
    width: calc(100% - var(--navigation-width));
    left: var(--navigation-width);
  }

.grid-item {
  background-color: var(--primary-color);
  padding: 20px;
}

  .grid-item.main {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

button {
  width: 100%;
  padding: 10px;
  background-color: var(--third-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  text-align: center;
}

.row {
  width: 100%;
  padding: 10px;
  background-color: var(--fourth-color);
  border-radius: 5px;
  text-align: center;
}

@media (max-width: 768px) {
  .profile-container {
    grid-template-columns: 1fr 2fr 1fr;
  }
}

@media (max-width: 480px) {
  .profile-container {
    grid-template-columns: 1fr;
  }

  .grid-item.main {
    width: 100%;
  }
}
