<div class="grid-container" [class.navigation-open]="isNavigationOpen">
  <div class="grid-item"></div>
  <div class="grid-item">
    <div class="main-text">Name: {{ userInfo?.username || 'N/A' }}</div>
    <div class="main-text">Email: {{ userInfo?.email || 'N/A' }}</div>
    <button class="main-button" (click)="onChange()">Change User</button>
    <button class="main-button-red" (click)="onRevokeTokens()">Revoke Tokens</button>
  </div>
  <div class="grid-item"></div>
</div>

<app-profile-change-modal></app-profile-change-modal>
